* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

.cover {
  background-image: url(../assets/img/adidascover1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px; }
  .cover h1 {
    color: white;
    font-size: 40px;
    margin-left: 30px;
    font-weight: bold; }
  .cover h3 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.801);
    margin-left: 30px; }
  .cover a {
    margin-top: 5px;
    background-color: #C11E23;
    border-color: #C11E23;
    margin-left: 30px; }
