* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}



.textmenu{
    color: black;
}



nav div ul li a{
    color: black;
    
}

.cover {
    background-image: url(../assets/img/cover1.5.jpg);
    background-repeat: no-repeat;
    background-position-y: 65%;
    height: 550px;
    background-size: auto;

    h1{
        color: rgb(255, 255, 255);
        font-size: 55px;
        margin-left: 50px;
        font-weight: 700;
        letter-spacing: 0px;
        
    }   

    img{
        margin-left: 52px;
        width: 150px;

    }
    
    a {
        margin-top: 5px;
        background-color: #e50000;
        border-color: #e50000;
        margin-left: 50px;
    }
}

.titulozapas{
    margin-left: 300px;
    margin-bottom: -70px;

    h2{
        font-style: italic;
        font-weight: 600;}
    
    p{
        font-style: italic;
        margin-top: -5px;
        font-weight: 600;
    }
}

.gif{
    margin-left: 200px;
}

.listastyle{
    list-style: none;
    text-align: center;
    padding: 0px;
}


.position{
    margin-top: 150px;
    margin-bottom: 50px;
    border: none;;
}
.ecomercejs{

      
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 20px;
    
    .card{

        
        border-radius: 10px;
    
        p{
            text-align: center;
            font-weight: normal;
            margin-top: 0px;
            font-size: 17px;
        }
    }


    h3{
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 20px;
        text-align: center;

    }

    h4{
        text-align: center;
        font-size: 15px;

    }

    img{
        width: 300px;
        margin-top: 10px;
        padding: 15px;
        margin-left: 3px;
        overflow: hidden;
        
    }
    button{
        
        color: rgb(255, 255, 255);
        background-color: rgb(49, 97, 209); 
        border-color: rgb(49, 97, 209); 
        margin-left: 103px; 
        margin-bottom: 24px;
        width: 100px;

        
    }
}

.icono-contador{
    margin-right: 20px;
    list-style: none;
    
    a{
        text-decoration: none;
       
    }
    

    span{
        
        color: #f83808;
        font-weight: bold;
               
    }
}

.inner{
    
    overflow: hidden;
}

.inner img{
    transition: all 0.8s ease;
}

.inner:hover img{
    transform: scale(1.4);
}

.inner2{
    
    overflow: hidden;
}

.inner2 img{
    transition: all 1s ease;
}

.inner2:hover img{
    transform: scale(1.5);
}


.form{
        background-color: gainsboro;
        width: 500px;
        height: 200px;
        margin-left: 300px ;
        color: black;
        font-size: 20px;


}

.videoceans{
    height: 50%;
}



.formulario-carrito{
    border-radius: 5px;
    background-color: #fbfbfb;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 120px;
    text-align: center;
    align-items: center;
    margin: 0 auto;

    
    

    

    img{
        width: 200px;
        margin-top: 10px;
        padding: 15px;
        margin-left: 3px;
        

    }
    button{
        width: 50px;
        height: 40px;
        margin-top: 0px;
    }
}

.divcart{
    
    margin-left: 120px;
    margin-top: 100px;
}

.logocart{
    display: flex;
    justify-content: center;
    width: 100px;
    margin-left: 180px;
    margin-bottom: -158px;

}

.vaciarCarrito{
    width: 100px;
    margin-top: 50px;
    margin-left: 300px;
}

.carrito-vacio{

    h2{
        margin-top: 100px;
        font-size: 30px;
        margin-left: 300px;
        font-weight: 800;
        
    }
    p{
        font-size: 15px;
        margin-left: 420px;
        font-weight: 400;
    }
}

.precio-total{
    font-size: 20px;
    margin-left: 300px;
    font-weight: 600;
    margin-top: 0px;
    
   

    
}

.btnfiltro{
    display: flex;    
    width: 300px;
    
}

.btn-vertodos{
    margin-left: 0px;
}

.finalizar-compra{
    
    margin: 0 auto;
    background-color: #ECEEF0;
    padding: 50px;
    width: 1280px;


}

.tarjetas{
    background-color: #fbfbfb;
    padding: 5px;
    width: 300px;
    margin-left: 20px;
}

.formcompra{
    
    padding: 20px;
    margin-left: 290px;
    margin-top: 30px;
    margin-bottom: 0px;
    
    
}

.modalform{
    width: 100%;
}

@media only screen and (max-width: 1400px){
	
    .ecomercejs{
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        gap: 20px;
        width: 1000px;
}

}
@media only screen and (max-width: 1200px){
	
    .ecomercejs{
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        gap: 20px;
        width: 660px;
        
}
.formulario-carrito{
    
    width: 800px;
    

    img{
        width: 150px;
    }

}

.gif{
    width: 800px;
    margin-left: 50px;
}

.finalizar-compra{
    width: 800px;
}

.carrito-vacio {

    h2{
        margin-top: 100px;
        font-size: 30px;
        margin-left: 300px;
        font-weight: 800;
        
    }
    p{
        font-size: 15px;
        margin-left: 420px;
        font-weight: 400;
    }


}
}


@media only screen and (max-width: 800px){
	
    .ecomercejs{
    
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr;
        gap: 20px;
        width: 335px;
}

.titulozapas{
    margin-left: 50px;}

.formulario-carrito{
    width: 400px;
    font-size: 10px;
    justify-content: space-between;

    img{
        width: 100px;
        display: none;
    }

}

.finalizar-compra{
    width: 400px;
}

.gif{
    width: 600px;
    margin-left: -50px;
}

}


