* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.textmenu{
    color: black;
}



nav div ul li a{
    color: black;
    
}

.cover {
    background-image: url(../assets/img/cover1.5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;

    h1{
        color: rgb(255, 255, 255);
        font-size: 55px;
        margin-left: 50px;
        font-weight: 700;
        letter-spacing: 0px;
        
    }   

    img{
        margin-left: 52px;
        width: 150px;

    }
    
    a {
        margin-top: 5px;
        background-color: #e50000;
        border-color: #e50000;
        margin-left: 50px;
    }
}

.titulozapas{
    margin-left: 300px;
    margin-bottom: -70px;

    h2{
        font-style: italic;
        font-weight: 600;}
    
    p{
        font-style: italic;
        margin-top: -5px;
        font-weight: 600;
    }
}

.gif{
    margin-left: 10px;
}

.listastyle{
    list-style: none;
    text-align: center;
    padding: 0px;
}


.position{
    margin-top: 150px;
    margin-bottom: 120px;
    border: none;;
}
.ecomercejs{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 20px;
    
    .card{

        
        border-radius: 10px;
    
        p{
            text-align: center;
            font-weight: normal;
            margin-top: 0px;
            font-size: 17px;
        }
    }


    h3{
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 20px;
        text-align: center;

    }

    h4{
        text-align: center;
        font-size: 15px;

    }

    img{
        width: 300px;
        margin-top: 10px;
        padding: 15px;
        margin-left: 3px;
        
    }
    button{
        
        color: rgb(255, 255, 255);
        background-color: rgb(49, 97, 209); 
        border-color: rgb(49, 97, 209); 
        margin-left: 103px; 
        margin-bottom: 24px;
        width: 100px;

        
    }
}

.form{
        background-color: gainsboro;
        width: 500px;
        height: 200px;
        margin-left: 300px ;
        color: black;
        font-size: 20px;


}



.formulario-carrito{
    border-radius: 5px;
    background-color: #fbfbfb;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 120px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    

    

    img{
        width: 100px;
        border-radius: 5px;
        

    }
    button{
        width: 50px;
        height: 40px;
        margin-top: 0px;
    }
}

.vaciarCarrito{
    width: 100px;
    margin-top: 50px;
    margin-left: 300px;
}

.precio-total{
    margin-left: 300px;
    font-weight: 600;
    margin-top: 0px;
   

    
}

.btnfiltro{
    width: 300px;
    
}

.btn-vertodos{
    margin-left: 300px;
}

.finalizar-compra{
    margin: 0 auto;
    background-color: #ECEEF0;
    padding: 50px;
    width: 1280px;


}

.formcompra{
    padding: 20px;
    margin-left: 280px;
    margin-top: 30px;
    margin-bottom: 0px;
    
}

